{% extends 'board/base.html' %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}


<form method="POST">
  {% csrf_token %}
  {{ form.as_table }}
    <input type="submit" value="Subscribe!">
</form>

<div style="margin-top:10%; font-size:14">
  <small>You will receive jokes 2 times a day, during working hours.
    <br>This way, you know we won't bother you during your free time.
    </small><br>
  <small style="opacity:0.5;">
We have {{ number_of_subscribers }} subscribers so far. Thank you!
</div>
{% endblock content %}
