{% extends 'programari/base.html' %}

{% block content %}



<form method="post">
      {% csrf_token %}
      <br>Data<br>
      <select name = 'data' class="search_categories">
      {% for entry in DetaliiZi %}
      <option value = "{{ entry.data }}">{{ entry.data }}</option>
      {% endfor %}
      </select>
      <br>Incepand cu ora <br>
      <select name = 'start_time' class="search_categories">
        {% for entry in options1 %}
            <option value = "{{ entry }}">{{ entry }}</option>
        {% endfor %}
      </select>
      <br>Pana la ora<br>
      <select name = 'end_time' class="search_categories">
        {% for entry in options2 %}
        <option value = "{{ entry }}">{{ entry }}</option>
        {% endfor %}
      </select>
      <br>Numar de programari <br>
      <input name = "max_programari" type = "text">
      <br>
      <input type="submit" name="modifica_zi" value="Modifica!">
</form>

Gaseste o programare dupa numarul de telefon
<form method="post">
    {% csrf_token %}
    <input name = "numar_telefon" type = "text">
    <br>
    <input type="submit" name="cauta_programare" value="Cauta o programare">
</form>

<div> {{ message }}
  <br>


{% if detalii %}

<form method="post">
    {% csrf_token %}
    Sterge Programare<br>
    {% for entry in detalii %}
      <input type="checkbox" name = 'content-sters' value = "{{ entry.data }}%{{ entry.telefon }}">Data: {{ entry.data }} | Nume: {{ entry.nume }} | Telefon: {{ entry.telefon }} | Ora: {{ entry.ora_programare }} <br>
    {% endfor %}
    <br>
    <input type="submit" name = "sterge" value="Sterge">
    <br><br><br>
    Modifica ora
    <br>
    {% for entry in detalii %}
      Data: {{ entry.data }} |
      Nume: {{ entry.nume }} |
      Telefon: {{ entry.telefon }} |
      Ora: {{ entry.ora_programare }} |
      Noua ora:
      <select name ='modifica_ora'>
        {% for option in options1 %}
        <option value = "{{ entry.data }}%{{ entry.telefon }}%{{ option }}"> {{ option }}</option>
        {% endfor %}
      </select>
      <br>
    {% endfor %}
    <br>
    <input type="submit" name = "modificare_ora" value="Modifica ora">
    <br>
</form>

{% endif%}
<br><br><br><br>


{% endblock content %}
