{% load static %}

<html>
<head>
    <title>Eduard CN Barbershop</title>
    <link rel="icon" type="image/png" href="../../static/programari/ico.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'programari/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=0.65">
</head>

<body>


<div class="v-wrap">
  <div class="v-box">
<!--    <img src="../../static/programari/eduard_cn_logo.jpg" width="35%" lenght="50%"> -->
<header>
  {% if user.is_authenticated %}
  <a href = "{% url 'index' %}">
    <button class="button-menu">Home</button>
  </a>
  <a href = "{% url 'admin' %}">
    <button class="button-menu">Admin</button>
  </a>
    <a href="{% url 'istoric' %}">
      <button class="button-menu">Istoric</button>
    </a>
    <a href="{% url 'logout' %}">
      <button class="button-menu">logout</button>
    </a>
  {% else %}
  <a href = "{% url 'index' %}">
    <button class="button-menu">Home</button>
  </a>
  <a href = "{% url 'cauta_programare' %}">
    <button class="button-menu">Cautare</button>
  <a href = "{% url 'admin' %}">
    <button class="button-menu">Admin</button>
  </a>
  {% endif %}
</header>

<div align="center">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>
