{% load static %}

<html>
<head>
    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title>Dashboard</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'programari/main.css' %}">
</head>

<body>


<div class="v-wrap">
  <div class="v-box">
<p align=center><a href = "{% url 'index' %}">Home</a> | <a href = "{% url 'cauta_programare' %}">Cauta o programare</a> | <a href = "{% url 'admin' %}">Admin</a></p>
{% block content %}

{% endblock %}
{% if user.is_authenticated %}

  <p><a href="{% url 'logout' %}">logout</a> | <a href="{% url 'istoric' %}">Istoric</a></p>

{% endif %}

</div>
</div>



</body>
</html>
