{% extends 'programari/base.html' %}

{% block content %}

<table>
{% for z_date, z_day in next_2_weeks.items %}
  {% cycle '<tr>' '' '' %}
    <td>
      <a href="programari/{{ z_date }}">
        {% if programari_ramase|get_item:z_date >= 5 %}
          <button class="button-green">
        {% elif programari_ramase|get_item:z_date < 5 and programari_ramase|get_item:z_date >= 3 %}
          <button class="button-orange">
        {% elif programari_ramase|get_item:z_date < 3 and programari_ramase|get_item:z_date >= 1 %}
          <button class="button-orangered">
        {% else %}
          <button class="button-red">
        {% endif %}
        {{ z_date }}
        <br> {{ z_day }}
        <br>{{ programari_ramase|get_item:z_date }} locuri disponibile
          </button>
        </a>
    </td>
  {% cycle '' '' '</tr>' %}
{% endfor %}



{% endblock content %}
