{% extends 'programari/base.html' %}

{% block content %}

<table>
{% for z_date, z_day in next_2_weeks.items %}
  {% cycle '<tr>' '' '' %}
    <td>
    {% if programari_ramase|get_item:z_date|get_list_item:1 > 0 %}
      <a href="programari/{{ z_date }}">
    {% endif %}
        {% if programari_ramase|get_item:z_date|get_list_item:0 >= 5 %}
          <button class="button-green">
        {% elif programari_ramase|get_item:z_date|get_list_item:0 < 5 and programari_ramase|get_item:z_date|get_list_item:0 >= 3 %}
          <button class="button-orange">
        {% elif programari_ramase|get_item:z_date|get_list_item:0 < 3 and programari_ramase|get_item:z_date|get_list_item:0 >= 1 %}
          <button class="button-orangered">
        {% else %}
          <button class="button-red">
        {% endif %}
        {{ z_date }}
        <br> {{ z_day }}
	{% if programari_ramase|get_item:z_date|get_list_item:1 > 0 %}
        <br>{{ programari_ramase|get_item:z_date|get_list_item:0 }} locuri disponibile
	{% else %}
	<br>Indisponibil
	{% endif %}
          </button>
        </a>
    </td>
  {% cycle '' '' '</tr>' %}
{% endfor %}



{% endblock content %}
