<h1>Programari in data de {{ date.0 }}</h1>

<ul>
{% for entry in programari %}
<li> {{ entry.nume }}, la ora {{ entry.ora_programare }}, {{ entry.telefon }} </li>
{% endfor %}
<uL>


{% if programari_ramase > 0 %}
<h4>Fa o Programare:</h4>
<div>

  <form action="{% url 'make_programare' date.0 %}" method="post">
      {% csrf_token %}
      Nume:
      <input name = "nume" type = "text">
      <br>
      Numar de telefon:
      <input name = "numar" type = "text">
      <br>
      Ora programarii:
      <select name = 'ora_programare'>
        {% for optiune in optiuni %}
          <option value="{{ optiune }}"> {{ optiune }}</option>
          {% endfor %}
      </select>
      <br>
      <input type="submit" value="Fa Programarea!">
    </form>


</div>
{% endif %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% if programari_ramase > 0 %}
<div>Mai sunt disponibile {{ programari_ramase }} locuri.</div>
{% else %}
<div>Nu mai sunt locuri disponibile. Te rugam sa incerci in alta zi</div>
{% endif %}
<br>
<a href = "{% url 'index' %}">Home</a>
