{% extends 'programari/base.html' %}

{% block content %}





<h1>Fa o programare pentru data de {{ date.0 }}</h1>
{% if user.is_authenticated %}
  <ul>
  {% for entry in programari %}

  <li> {{ entry.nume }}, la ora {{ entry.ora_programare }}, {{ entry.telefon }} </li>
  {% endfor %}
<uL>
{% endif %}

{% if programari_ramase > 0 %}
<h4>Pentru a face o programare, completeaza formularul de mai jos</h4>
<div>

  <form action="{% url 'make_programare' date.0 %}" method="post">
      {% csrf_token %}
      Nume:<br>
      <input name = "nume" type = "text" class="mac">
      <br>
      Numar de telefon:<br>
      <input name = "numar" type = "text" class="mac">
      <br>
      Ora programarii:<br>
      <select name = 'ora_programare' class="search_categories">
        {% for optiune in optiuni %}
          <option value="{{ optiune }}"> {{ optiune }}</option>
          {% endfor %}
      </select>
      <br>
      <input type="submit" value="Fa Programarea!">
    </form>


</div>
{% endif %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% if programari_ramase > 0 %}
<div>Mai sunt disponibile {{ programari_ramase }} locuri.</div>
{% else %}
<div>Nu mai sunt locuri disponibile. Te rugam sa incerci in alta zi</div>
{% endif %}
<br>




{% endblock content %}
