{% extends 'dashboard/base.html' %}
{% block content %}

	{% if mangas %}
		<table class="item-scroll" cellpadding="10"><tr>
			{% for manga in mangas %}
				<td>
					    {% for key, value in manga.items %}
					        {{ value }}<br>
					    {% endfor %}<br>
				</td>
			{% endfor %}
		</tr></table>
	{% endif %}

<div style="margin-top:300px;">
	Cheltuieli {{ date }}<br>
		{% if shoppings %}
			<ul>
				{% for entry in shoppings %}
					<li>{{ entry }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if amount %}
			Total: {{ amount }}
		{% endif %}
		{% if errors %}
			{{ errors }}
		{% endif %}
</div>
{% endblock content %}