{% load static %}

<html>
<head>
    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title>Dashboard</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'board/main.css' %}">
</head>

<body>


<div class="site-header">
{% block content %}

{% endblock %}
</div>

{% if user.is_authenticated %}
  <div class="way_down">
  {% if title != 'Home Page' %}
    <a class="homebutt" href="{% url 'index' %}">home >></a>
  {% endif %}
  <br>
    <small>You are logged in on centos as {{ user }}</small>
  </div>
{% endif %}

</body>
</html>
