{% extends 'resist_temptation/base.html' %}

{% block content %}
<br>
<br>
<br>
{{ date }}
<br>
<br>
<br>
<br>
<br>
<br>

<a href="{% url 'good_habits' %}">
    <button class="button-orange">
       Good Habits
    </button>
 </a>

 <a href="{% url 'temptations' %}">
    <button class="button-orange">
       Temptations
    </button>
 </a>

 <br>
 <a href="{% url 'good_habits_statistics' %}">
   <button class="button-orange">
      Good Habits Statistics
   </button>
</a>

<a href="{% url 'temptations_statistics' %}">
    <button class="button-orange">
       Temptations Statistics
    </button>
 </a>




{% endblock content %}