        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
  color: white;
}


table.programari td:first-child {
        box-shadow: inset 1px 0 0 #fff;
}

table.programari td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
}

table.programari tr {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

table.programari tr:nth-child(odd) td {
        background: #bf8142 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

table.programari tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
}

table.programari tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
}

table.programari tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
}


table.programari th {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#956534, #191109);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: white;
  font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
}

table.programari th:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
}

table.programari th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
}

table.programari th:last-child {
        box-shadow: inset -1px 1px 0 #999;
}
